/.idea
/MagPython/nasm
/MagPython/nasm.zip
/MagPython/Release
/MagPython/Release-test
/MagPython/Release-Int
/openssl/**/*.dll
/openssl/**/*.lib
/openssl/**/*.obj
/openssl/**/*.pdb
/openssl/**/*586.asm
/openssl/**/*-x86.asm
/openssl/apps/libssl-1_1.dll
/openssl/configdata.pm
/openssl/crypto/bn/x86-gf2m.asm
/openssl/crypto/bn/x86-mont.asm
/openssl/crypto/buildinf.h
/openssl/crypto/whrlpool/wp-mmx.asm
/openssl/crypto/x86cpuid.asm
/openssl/include/crypto/bn_conf.h
/openssl/include/crypto/dso_conf.h
/openssl/include/openssl/opensslconf.h
/openssl/libcrypto-1_1.ilk
/openssl/libcrypto.def
/openssl/libcrypto.exp
/openssl/libcrypto.rc
/openssl/libcrypto.res
/openssl/libssl-1_1.ilk
/openssl/libssl.def
/openssl/libssl.exp
/openssl/libssl.rc
/openssl/libssl.res
/openssl/makefile
