/build-out/
/MagPython-*.md
/MagPython-*.zip
/MagPython/*zip
/MagPython/jom/
/MagPython/libffi/
/MagPython/libmpdec/
/MagPython/ncurses/
/MagPython/openssl/
/MagPython/python/
/MagPython/sqlite/
/MagPython/zlib/
